<div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10">
              <% if @movie["Poster"].present? && @movie["Poster"] != "N/A" %>
                <%= image_tag @movie["Poster"], class: "movieImage" %>
              <% end %>
              <% if @current_user.present? %>
                <% if @liked %>
                  <%= link_to image_tag("like.png", :alt => "favorite", :class => "favIcon"), {:controller => "favorites", :action => "remove", :movie_title => @movie["Title"] }, :method => "delete" %>
                <% else %>
                  <%= link_to image_tag("dislike.png", :alt => "favorite", :class => "favIcon"), {:controller => "favorites", :action => "add", :movie_title => @movie["Title"] } %>
                <% end %>
              <% end %>
              <div class="star-rating"></div>
              <div class="table-responsive">
                <table class="table">
                <tbody>
                  <tr>
                    <td class="td"><strong>Title:</strong></td>
                    <td class="td"><%= @movie["Title"] %></td>
                  </tr>
                  <tr>
                    <td class="td"><strong>Year:</strong></td>
                    <td class="td"><%= @movie["Year"] %></td>
                  </tr>
                  <tr>
                    <td class="td"><strong>Rating:</strong></td>
                    <td class="td"><%= @movie["imdbRating"] %></td>
                  </tr>
                </tbody>
                </table>
              </div>
              <div class="td"><%= @movie["Plot"] %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="td col-sm-5" >
      <div>
        <p class="comments"><strong>User</strong></p>
        <p class="comments">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div>
      <% if @current_user.present? %>
        <%= form_for @comment do |f| %>
          <%= f.label :content %>
          <%= f.text_area :content %>
          <%= f.hidden_field :title, value: @movie["Title"] %>
          <%= f.submit %>
          
          <!--<div class="form-group">
            <label for="comment">Comment:</label>
            <textarea maxlength="250" class="commentBox form-control" rows="5" id="comment"></textarea>
          </div>
          <%= button_to "Submit", class: "favIcon", controller: "favorites", action: "add", :movie_title => @movie["Title"] %> -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>

