<%# Navigation for the website. %>

<nav class="bg-dark">
    <%= link_to 'Home', root_path, class: "badge badge-ligh" %>
    <div>
        <% if @current_user.present? %>
            <% if @current_user.admin? %>
                <%= link_to 'All users', users_path, class: "badge badge-ligh" %>
                <%= link_to "Comments", comments_admin_index_path, class: "badge badge-ligh" %>
            <% end %>
            <%= link_to "My List", my_list_index_path, class: "badge badge-ligh" %>
            <%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete', class: "badge badge-ligh" %>
        <% else %>
            <%= link_to 'Sign up', new_user_path, class: "badge badge-ligh" %>
            <%= link_to 'Sign in', login_path, class: "badge badge-ligh" %>
        <% end %>
    </div>
</nav>
<br/><br/>